<header>
  <h1>DH Task</h1>
  <nav>
    <% if (user && user.isAdmin) { %>
    <a href="/new">new</a>
    <a href="/logout">logout</a>
    <% } else if (user) { %>
    <a href="/logout">logout</a>
    <% } else { %>
    <a href="/">login</a>
    <a href="/register">sign up</a>
    <% } %>
  </nav>
</header>
